body {
	background-image: url("../data/slike/Pocetna1.png");
	background-repeat: repeat;
}

#prijava {
	position: absolute;
	left: 12%;
	top: 20%;
}

#loginForma img {
	left: 33%;
	top: 3%;
	width: 34%;
	height: 34%;
	transform: scale(0.8, 0.8);
	opacity: 0.75;
}

#loginForma {
	position: absolute;
	left: 10%;
	top: 20%;
	width: 30%;
	height: 400px;
}

#loginForma:after {
  content: "";
  background: url("../data/slike/backgroundMain.jpg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 10%;
}

.loginForma {
	position: absolute;
}

#korisnickoIme {
	left: 10%;
	top: 40%;
	width: 80%;
	height: 10%;
}

#sifra {
	left: 10%;
	top: 60%;
	width: 80%;
	height: 10%;
}

#login {
	left: 30%;
	top: 80%;
	width: 40%;
	height: 10%;
}

.loginForma input {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
}

input:hover {
	transform: scale(1.05, 1.05);
	box-shadow: 0px 10px 10px #888888;
}

#registrationForma h1 {
	left: 30%;
}

#registrationForma h1:hover {
	cursor: default;
}

#registrationForma {
	position: absolute;
	right: 10%;
	top: 5%;
	width: 30%;
	height: 720px;
}

#registrationForma:after {
  content: "";
  background: url("../data/slike/backgroundMain.jpg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 10%;
}

.registrationForma {
	position: absolute;
}

#registrationKorisnickoIme {
	left: 10%;
	top: 10%;
	width: 80%;
	height: 5%;
}

#registrationSifra {
	left: 10%;
	top: 20%;
	width: 80%;
	height: 5%;
}

#jmbg {
	left: 10%;
	top: 30%;
	width: 80%;
	height: 5%;
}

#ime {
	left: 10%;
	top: 40%;
	width: 80%;
	height: 5%;
}

#prezime {
	left: 10%;
	top: 50%;
	width: 80%;
	height: 5%;
}

#drzavljanstvo {
	left: 10%;
	top: 60%;
	width: 80%;
	height: 5%;
}

#brTelefona {
	left: 10%;
	top: 70%;
	width: 80%;
	height: 5%;
}

#registration {
	left: 10%;
	top: 80%;
	width: 80%;
	height: 5%;
}

.registrationForma input {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
}

#registrationForma img {
	top: 58%;
	transform: scale(0.2, 0.2);
	opacity: 0.8;
}